 [MESSAGES CONTROL]
 disable=
   missing-function-docstring,
   missing-module-docstring,
   missing-class-docstring,
   too-few-public-methods,
   too-many-locals,
   fixme,
   too-many-arguments,
   too-many-branches,
   too-many-nested-blocks,
   duplicate-code